body{
  padding: 0px;
  margin: 0px;
}

.menu{
  #menu__btn{
    display: none;
  }
  .menu__btnLabel{
    display: none;
    align-items: center;
    width: 40px;
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    &:hover{
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5);
      color: red;
      transition: all 0.5s;
    }
  }
  .menu__bar{
    background-color:#2b2b2b;
    display: flex;
    justify-content: center;
    color: #777777;
    font-size: 23px;
    width: 100%;
    .bar__container{
      padding: 0px;
      margin: 0px;
      list-style: none;
      display: inherit;
      align-items: center;
      & li:hover{
        background: rgba(131, 131, 131, 0.9);
      }
      .link{
        text-decoration: none;
        font-size: 16px;
        display: block;
        padding: 15px 20px;
        box-sizing: border-box;
        text-transform: uppercase;
        color: white;
        &:hover:active{
          color:#f6f6f6;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .menu{
    .menu__btnLabel{
      display: flex;
    }
    #menu__btn{
      &:checked ~ .menu__bar{
        margin: 0px;
      }
    }
    .menu__bar{
      display: block;
      position: absolute;
      width: 100%;
      margin-left: -100%;
      transition: all 0.5s;
      .bar__container{
        flex-direction: column;
      }
      li {
        text-align: center;
      }
    }
  }
}